*{
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
body {
    background-color:rgb(156, 156, 192);
    margin: 0;
    }

.container {
    width: 80%;
    margin:0 auto;
}

h1,h2,h3,h4 {
    font-family: "Helvetica", "Arial", sans-serif
}


.col-1-1,.col-1-2 {
    display: inline-block;
    float: left;

}
.col-1-1{
    width: 35%;
}
.col-1-2{
width: 65%;
}

ul.menu {
    list-style-type: none;
    padding: 0;
}
ul.menu li {
    display: inline-block;
    margin-right: 5px;
}
ul.menu li a {
    color: #fff;
    text-decoration: none;
}

ul.menu li a:hover {
color: blueviolet;
transition: all 0.5s ease-in;
}
ul.menu li a:after {
    content: "|";
    margin-left: 5px;
}
ul.menu li a:hover:after {
color:#fff!important;
}
h2 {
    background-color: blueviolet;
}